* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.List-Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

@media (max-width: 1024px) {
  .List-Cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .List-Cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .CardList {
    max-width: 90%;
  }
}
